{% extends "base.html" %}
{% block content %}

<div class="card shadow p-4">
    <h3>Add Achievement</h3>
    <hr>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label>Title</label>
            <input type="text" name="title" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Description</label>
            <textarea name="description" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label>Category</label>
            <select name="category" class="form-control" required>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label>Date</label>
            <input type="date" name="date" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Proof File</label>
            <input type="file" name="proof" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Save Achievement</button>

        <a href="{% url 'student_detail' student.id %}" class="btn btn-secondary">
            Cancel
        </a>

    </form>

</div>

{% endblock %}
